<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Admin Dashboard</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
	    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
	    
	</head>

	<body>
	    <section class="hero is-primary is-fullheight">

	        <div class="hero-head">
	            <nav class="navbar">
	                <div class="container">

	                    <div id="navbarMenuHeroA" class="navbar-menu">
	                        <div class="navbar-end">
	                            <a href="{{ url_for('main.index') }}" class="navbar-item">
	                                Home
	                            </a>
	                            <a href="{{ url_for('main.dashboard') }}" class="navbar-item">
	                                Dashboard
	                            </a>
	                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
	                                Logout
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </nav>
	        </div>
	        <div class="hero-body" id="mainbody">
	        	<h1 class="title"> ADMIN DASHBOARD </h1>
		        <form id="upload-file" method="post" enctype="multipart/form-data">
			        <div class="upload-btn-wrapper">
						<button type="button" id="upload-file-btn" class="btn" >Upload a file</button>
						<input type="file" name="myfile" id="files-input"/>
					</div>
		        </form>
	        </div>
	        
	    </section>
	    <script src= "{{ url_for('static',filename='admin_dashboard.js') }}"></script>
	</body>
</html>