<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Validation Workbench</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.4/jquery.floatThead.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='responses.css') }}">
    </head>

    <body>
        <section class="hero is-primary is-fullheight">

            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">

                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                <a href="{{ url_for('main.index') }}" class="navbar-item">
                                    Home
                                </a>
                                <a href="{{ url_for('main.dashboard') }}" class="navbar-item">
                                    Dashboard
                                </a>
                                <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <h1 class="title"> VALIDATION FORM </h1>
            <div class="hero-body">
                
                <div>
                <form method="post" enctype="multipart/form-data" action="/dashboard">
                    <table class="form">
                        <thead>
                            <tr class="thead-row">
                                <th> Relation</th>
                                <th> Entity</th>
                                <th> Accept</th>
                                <th> Reject </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result, decision in file %}
                            <tr>
                                <td class="row property">{{result[0]}}</td>
                                <td class="row entity">{{result[1]}}</td>
                                {% if decision=='1' %}
                                    <td class="row accept"> <input type="radio" name="{{ 'radiobutton' + loop.index0|string }}" value="1" checked></td>
                                    <td class="row reject"> <input type="radio" name="{{ 'radiobutton' + loop.index0|string }}" value="0"></td>
                                {% else %}
                                    <td class="row accept"> <input type="radio" name="{{ 'radiobutton' + loop.index0|string }}" value="1"></td>
                                    <td class="row reject"> <input type="radio" name="{{ 'radiobutton' + loop.index0|string }}" value="0" checked></td>
                                {% endif %}
                                
                            </tr>
                            
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    <input type='text' name="file-id" id="file-id" value="{{ request.args.get('file') }}" style="display: none">
                    <div class="button-div">
                        <button id="submit-btn">Submit</button>    
                    </div>
                    
                </form>
            </div>
               
            </div>
            
        </section>
        <script src= "{{ url_for('static',filename='responses.js') }}"></script>
    </body>

</html>